/*
=========================
    CUSTOM VARIABLES
*/
:root {
  --color-primary: #10b9cf;
  --color-primary-dark: #0a8b9e;
  --color-secondary: #999682;

  --color-gray-ligther: #e5e9ee;
  --color-gray-ligth: #4c5055;
  --color-gray-dark: #212529;
  --color-white: #fff;

  --color-transparent: rgba(255, 255, 255, 0.8);

  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --box-shadow--card: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

/*
=========================
    RESET
*/

html {
  box-sizing: border-box;
  font-size: 16px;

  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--color-gray-ligth);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*
=========================
    Utility Classes
*/

.lead {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

.text-center {
  text-align: center;
}
/*
=========================
    NAVIGATION
*/

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 65px;
  line-height: 65px;
  text-align: center;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  background-color: var(--color-transparent);
  backdrop-filter: blur(6px);
}

.navbar--shadowed {
  box-shadow: var(--box-shadow);
}

.navbar.is-open {
  height: 26rem;
  box-shadow: var(--box-shadow);
}

.navbar__wrapper {
  display: block;
}

.navbar__logo-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.navbar__logo {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;

  color: var(--color-primary);
}

.navbar__list {
  position: absolute;
  display: block;
  width: 100%;
  height: 0px;
  overflow-y: hidden;
  top: 65px;
  left: 0;
  right: 0;
  height: 0px;
}

.is-open .navbar__list {
  height: calc(26rem - 65px);
  overflow-y: hidden;
  transition: height 0.2s ease-in;
}

.navbar__list-item {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.4rem;
  text-decoration: none;
  white-space: nowrap;

  color: var(--color-primary);
}

.navbar__link {
  color: var(--color-primary);
  text-decoration: none;

  padding: 0.5rem 1rem;
  position: relative;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.navbar__link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar__link:hover::after {
  width: 100%;
  left: 0;
  background: var(--color-primary-dark);
}

.navbar__link.active::after {
  width: 100%;
  left: 0;
}

.navbar__link:hover {
  color: var(--color-primary-dark);
}

@media screen and (min-width: 768px) {
  .menu-toggler {
    display: none;
  }

  .navbar__wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .navbar__list {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    top: 0;
    height: 65px;
    background-color: transparent;
    backdrop-filter: blur(0);
  }
}

/*
=========================
    COMPONENTS
========================= 
*/

/*
=========================
    BUTTONS
*/

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8rem 2.2rem;
  display: inline-block;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.btn--white {
  background-color: var(--color-white);
  color: #777;
}

.btn--white::after {
  background-color: var(--color-white);
}

.btn--main {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#10b9cf),
    to(#10cfcf)
  );
  background: linear-gradient(to right, #10b9cf, #10cfcf);
  color: var(--color-white);
}

.btn--green::after {
  background-color: var(--color-primary);
}
/*
=========================
    BURGER
*/
.menu-toggler {
  background: transparent;
  border: 0;
  z-index: 100;
  cursor: pointer;

  position: fixed;
  top: 16px;
  right: 20px;
}

.menu-toggler__line {
  background-color: var(--color-primary);
  width: 36px;
  height: 4px;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggler.is-active .menu-toggler__line:nth-child(2) {
  opacity: 0;
}

.menu-toggler.is-active .menu-toggler__line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}

.menu-toggler.is-active .menu-toggler__line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}

/*
=========================
    CARD
*/
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 32rem;
  max-width: 28rem;
  margin: 0 auto;
}

.card__side {
  height: 32rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: var(--box-shadow--card);
}

.card__side--front {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background: linear-gradient(-45deg, #64b5f6, #0a8b9e);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.card__title {
  padding: 5rem 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__heading {
  font-size: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  width: 75%;
}

.card__details {
  padding: 0 2rem 2rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: var(--color-white);
  margin-bottom: 5rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.card__price-value {
  font-size: 4rem;
  font-weight: 100;
  color: var(--color-white);
}

.card__price-month {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: var(--color-white);
}

@media only screen and (max-width: 762px), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow--card);
  }

  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }

  .card__side--back {
    transform: rotateY(0);
    /* clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); */
  }

  .card:hover .card__side--front {
    transform: rotate(0);
  }

  .card__details {
    padding: 0.8rem 2.4rem;
  }

  .card__title {
    padding: 3rem 1rem 1rem;
  }

  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.6rem;

    transform: translate(0);
  }

  .card__price-box {
    margin-bottom: 2rem;
  }
  .card__price-value {
    font-size: 3.2rem;
  }
}

/*
=========================
    ABOUT  
*/
.about-img {
  width: 80%;
}

/*
=========================
    LAYOUT
*/
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;

  max-width: 1080px;
}

main {
  padding-top: 65px;
}

.section {
  padding-bottom: 4rem;
}

.section__header {
  margin-bottom: 3rem;
}

.section__title {
  font-size: calc(1.425rem + 2vw);
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.section--gray {
  background-color: var(--color-gray-ligther);
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-grid--reverse {
  flex-direction: row-reverse;
}

.col {
  width: 100%;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .flex-grid {
    justify-content: space-between;
  }
  .col-1-of-3 {
    width: 32%;
  }

  .col-1-of-2 {
    width: 49%;
  }
}

/* 
=========================
    FOOOTER
*/

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px;
  background-color: var(--color-white);
  border-top: 1px solid #e5e5e5;
  max-width: 1200px;
  margin: 0 auto;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-bottom: 2rem;
}

.footer__logo {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1.1;
}

.footer__addr h2 {
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 1rem;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.footer__copyright {
  color: #999;
  border-top: 1px solid #e5e5e5;
  padding-top: 1rem;
}

@media screen and (min-width: 24.375em) {
  .footer__logo {
    text-align: left;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 1.2 0px;
  }
}

/*  =========================
    DOC PAGE
*/

.layout {
  position: relative;
  display: block;
  min-height: 100vh;
}

.layout__sidebar {
  transform: translate(0);
  /* transform: translate(-100%); */
  padding: 4.4rem 0 1rem 0.2rem;
  width: 120px;
  background: #f5f5f5;
  position: fixed !important;
  bottom: 0;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}

.layout__main {
  margin-left: 120px;
  width: calc(100% - 120px);
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu__item {
  align-items: center;
  display: flex;
  padding: 0.5rem 0 0.5rem 0.4rem;
  font-size: 1rem;
  transition: all 0.15s linear;
  cursor: pointer;
}
.menu__item:hover,
.menu__item.active {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .layout__sidebar {
    padding: 6rem 1rem 1rem 3rem;
    width: 240px;
  }

  .layout__main {
    margin-left: 240px;
    width: calc(100% - 240px);
    padding: 5rem 2rem 2rem;
  }
}
